<% unless user.id == current_user.id %>
 <% if (current_user.following? user) && (user.following? current_user)  %>
  <% if @isRoom == true %>
    <a href="/rooms/<%= @roomId %>"> chatを始める</a>
  <% else %>
    <%= form_with model: @room, local: true do |f| %>
     <%= fields_for @UserRoom do |u| %>
      <%= u.hidden_field :user_id, value: user.id %>
     <% end %>
     <%= f.submit "チャットを始める" %>
    <% end %>
   <% end %>
 <% end %>
<% end %>